html, body{
    background-color: #F6F6F6;

}
.titulo{
    margin-top: 150px;
    text-align: center;
}
.contenedorEstado{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#cajaContador{
    width: 30%;
}
.btnLink{
    background-color: #229BEF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 0px;
    border: 3px dashed #ABADA8;
}
.estadoTxt{
    color: #F6F6F6;
    font-family: 'Press Start 2P';
    margin-left: 5px;
    font-size: smaller;
}
.contenedorContador{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    text-shadow: 8px 2px #000000;
}
.inputs{
    text-align: center;
    margin-top: 25px;
}
